mixin traveller(imageUrl, imageUrlTablet, imageUrlDesktop, username, subscribers, tags=[], countries=[], level)
    .traveller 
        .traveller__container 
            .traveller__img-container 
                img.traveller__user-img-mobile(src=imageUrl, alt=username)
                .traveller__img-tablet-container
                    img.traveller__user-img-tablet(src=imageUrlTablet, alt=username)
                img.traveller__user-img-desktop(src=imageUrlDesktop, alt=username)
            
            
            a.traveller__like-button.traveller__like-button--checked(href="#")
                include ../../../assets/svg-icons/like-checked-icon.svg 
            .traveller__online-status.traveller__online-status--offline 
            
            .traveller__username-container 
                a.traveller__username(href="#")= username
                .traveller__username-online-status.traveller__username-online-status--offline 
            
            p.traveller__subscribers-count=subscribers
                 
            ul.traveller__tags-list        
                each tag in tags
                    li.traveller__tags-item
                        a.traveller__tags-link(href="#")= tag
                    
            fieldset.traveller__countries 
                label.traveller__countries-title Хочет посетить:
                
                if countries.length > 0
                ul.traveller__countries-list
                    each country in countries
                        li.traveller__countries-item 
                            img.traveller__countries-img(src=country.src alt=country.title, width="26", height="18")
                            span.traveller__countries-text= country.title
                            
            fieldset.traveller__transport 
                label.traveller__transport-title Транспорт:
                ul.traveller__transport-list 
                    li.traveller__transport-item
                        a.traveller__transport-link(href="#")    
                            include ../../../assets/svg-icons/plane-icon.svg 
                        include ../_transport-tooltip.pug
                        +transport-tooltip("Авиаперелет")
                         
                    li.traveller__transport-item    
                        a.traveller__transport-link(href="#")
                            include ../../../assets/svg-icons/bus-icon.svg 
                        include ../_transport-tooltip.pug
                        +transport-tooltip("Автотранспорт") 
                        
                    li.traveller__transport-item    
                        a.traveller__transport-link(href="#")
                            include ../../../assets/svg-icons/bicycle-icon.svg 
                        include ../_transport-tooltip.pug    
                        +transport-tooltip("Велосипед")
                        
                    li.traveller__transport-item    
                        a.traveller__transport-link(href="#")
                            include ../../../assets/svg-icons/run-icon.svg  
                        include ../_transport-tooltip.pug    
                        +transport-tooltip("Пешком")
                        
            fieldset.traveller__level 
                label.traveller__level-title Левел:
            
                .traveller__level-circle-container
                        svg.traveller__static-circle(viewBox="0 0 100 100")
                            circle.traveller__circle-track(cx="50" cy="50" r="45")
                            //- circle.traveller__circle-partial-border.traveller__circle-partial-border--99(cx="50" cy="50" r="47")
                            circle(cx="50" cy="50" r="47", class=`traveller__circle-partial-border traveller__circle-partial-border--${level}`)
                        .traveller__circle-text-container
                            span.traveller__circle-label=level
                            span.traveller__circle-level-text level
                
            a.traveller__call-button(href="#") 
                span.traveller__call-button-text Позвать!
                